export(Similarity_Pearson)
export(Pearson)
export(Prediction)
export(ItemSelect)
export(NewKNN)
export(Genetic)
export(Results)
export(meanR.Results)
export(plotResults)
importFrom("graphics", "legend", "lines", "par", "plot", "plot.new")
importFrom("stats", "runif")
importFrom("utils", "combn", "head")
